{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaceioIn | Funcionários</title>


    <link rel="stylesheet" href="{% static 'css/funcionario.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    
    <header class="header">
        <div class="container">
            <img src="/maceioin/core/static/logo_prefeitura_de_maceio.svg" alt="">
            <img src="/maceioin/core/static/maceio_topo.svg" alt="">
        </div>
    </header>

    <nav class="navbar">
        <a class="navbar_text" href="{% url 'home' %}">INÍCIO</a>
        <a class="navbar_text" href="{% url 'listar'%}">FUNCIONÁRIOS</a>
    </nav>

    <main>
        <section class="section_add_button">
            <div class="container_add_button">
                <a class="add_button" href="{% url 'adicionar' %}">Adicionar</a>
            </div>
        </section>

        <section>

            <div class="container_table">
                <table class="">
    
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NOME</th>
                            <th>EMAIL</th>
                            <th>SETOR</th>
                            <th>AÇÕES</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for funcionario in funcionarios %}
                            <tr>
                                <td>{{ funcionario.id }}</td>
                                <td>{{ funcionario.nome }}</td>
                                <td>{{ funcionario.email }}</td>
                                <td>{{ funcionario.setor }}</td>
                                <td>
                                    <div class="container_button">
                                        <a href="{% url 'editar' funcionario.id %}">Editar</a>
                                        <a href="{% url 'deletar' funcionario.id %}">Excluir</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
    
                </table>
            </div>
        </section>
    </main>

    <footer></footer>

</body>
</html>