{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maceio IN | Funcionários</title>


    <link rel="stylesheet" href="{% static 'css/funcionario.css' %}">
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body>

    <header class="header">
        <div class="container">
            <img src="{% static 'assets/logo_prefeitura_de_maceio.svg' %}" alt="">
            <img src="{% static 'assets/maceio_topo.svg' %}" alt="">
        </div>
    </header>

    <nav class="navbar">
        <a class="navbar_text" href="{% url 'home' %}">INÍCIO</a>
        <a class="navbar_text" href="{% url 'listar' %}">FUNCIONÁRIOS</a>

        {% if user.is_authenticated %}
        <div class="navbar_text_user">
            <span class="navbar_text">Olá, {{ user.username }}</span>
            <a class="navbar_link_user" href="{% url 'logout' %}">Sair</a>
        </div>
        {% else %}
        <a class="navbar_text" href="{% url 'login' %}">
            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20"
                viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                <path fill="#ffffff"
                    d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z" />
            </svg>
        </a>
        {% endif %}

    </nav>

    <main>
        <section class="section_add_button">
            <div class="container_add_button">
                <a class="add_button" href="{% url 'adicionar' %}">Adicionar</a>
            </div>
        </section>

        <section>

            <div class="container_table">
                <table class="">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NOME</th>
                            <th>EMAIL</th>
                            <th>SETOR</th>
                            <th>AÇÕES</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for funcionario in funcionarios %}
                        <tr>
                            <td>{{ funcionario.id }}</td>
                            <td>{{ funcionario.nome }}</td>
                            <td>{{ funcionario.email }}</td>
                            <td>{{ funcionario.setor }}</td>
                            <td>
                                <div class="container_button">
                                    <a href="{% url 'editar' funcionario.id %}">Editar</a>
                                    <a href="{% url 'deletar' funcionario.id %}">Excluir</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </section>
    </main>

    <footer>
        <img class="footer_topo" src="{% static 'assets/maceio_topo.svg' %}" alt="">

        <div>
            <div class="footer_informacoes">
                <img src="{% static 'assets/logo_prefeitura_de_maceio.svg' %}" alt="">
                <div>
                    <a href="https://www.facebook.com/PrefeituraDeMaceio">
                        <img src="{% static 'assets/icone_facebook.svg' %}" alt="">
                    </a>

                    <a href="https://www.instagram.com/prefeiturademaceio/">
                        <img src="{% static 'assets/icone_instagram.svg' %}" alt="">
                    </a>

                    <a href="https://x.com/prefmaceio?mx=2">
                        <img src="{% static 'assets/icone_twitter.svg' %}" alt="">
                    </a>

                    <a href="https://www.youtube.com/prefeiturademaceio">
                        <img src="{% static 'assets/icone_youtube.svg' %}" alt="">
                    </a>

                    <a
                        href="https://open.spotify.com/show/0mt6diG4KRQvi0mMidl7NN?si=T6sh89cQRAKVk5sT3glY-g&nd=1&dlsi=57211e5a875647f5">
                        <img src="{% static 'assets/icone_spotify.svg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>

    </footer>

</body>

</html>