{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maceio IN  | Edição de Funcionário</title>

    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>

    <header class="header">
        <div class="container">
            <img src="{% static 'assets/logo_prefeitura_de_maceio.svg' %}" alt="">
            <img src="{% static 'assets/maceio_topo.svg' %}" alt="">
        </div>
    </header>

    <nav class="navbar">
        <a class="navbar_text" href="{% url 'home' %}">INÍCIO</a>
        <a class="navbar_text" href="{% url 'listar'%}">FUNCIONÁRIOS</a>
    </nav>

    <main>
        <section class="funcionario_description">
            <h1>Editar Funcionário</h1>
        </section>

        <section class="section_form">

            <div class="container_form">

                <form action="{% url 'atualizar' funcionario.id %}" method="post">
                    {% csrf_token %}
                
                    <div class="form_input">
                        <label for="">Nome Completo:</label>
                        <br>
                        <input type="text" name="nome" value="{{ funcionario.nome }}"> 
                        <br>
    
                        <label for="">Email:</label>
                        <br>
                        <input type="email" name="email" value="{{ funcionario.email }}"> 
                        <br>
    
                        <label for="">Setor:</label> 
                        <br>
                        <select name="setor" id="">
                            <option value="Contabilidade" {% if funcionario.setor == "Contabilidade" %}selected{% endif %}>Contabilidade</option>
                            <option value="Financeiro" {% if funcionario.setor == "Financeiro" %}selected{% endif %}>Financeiro</option>
                            <option value="Atendimento" {% if funcionario.setor == "Atendimento" %}selected{% endif %}>Atendimento</option>
                            <option value="Orçamento" {% if funcionario.setor == "Orçamento" %}selected{% endif %}>Orçamento</option>
                            <option value="TI" {% if funcionario.setor == "TI" %}selected{% endif %}>TI</option>
                        </select>
                    </div>

                    <div class="container_submit_button">
                        <button type="submit">Salvar</button>
                    </div>

                </form>

            </div>

        </section>

    </main>

</body>

</html>